.yui-tt {
    background-color:#FFEE69;
    border-color:#D4C237 #A6982B #A6982B;
    border-style:solid;
    border-width:1px;
    color:#000000;
    left:0;
    padding:2px 5px;
    position:relative;
    width: 100px;
    top:0;
    z-index:1;
}
.yui-cms-tt .yui-panel {
    text-align: left;
}
.yui-panel-container.yui-cms-tt.shadow .underlay {
    top: 2px;
    bottom: -2px;
    right: -2px;
    left: -2px;
    padding-left: 4px;
}
.yui-cms-tt .yui-panel, .yui-cms-tt .yui-panel .bd {
    color:#333;
    background-color:#FDFFB4;
    border-color:#FCC90D;
}
.yui-cms-tt .yui-panel .hd {
    visible: hidden;
    display: none;
}